* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.homepage {
  width: 100%;
  min-height: 100vh;
  padding: 120px 42px 26px;
  box-sizing: border-box;
  background: #ddd8c5;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}


  
  
